* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  position: relative;
}

.control-panel {
  position: relative;
  padding: 10px;
  text-align: center;
  z-index: 1;
  background-color: rgba(0, 0, 125, 0.25);
}

#canvas1 {
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
}

#canvas2 {
  position: absolute;
  background-color: white;
  top: 100px;
  left: 30px;
  border-radius: 5px;
  box-shadow: 0 1px 5px #333;
}
